<div class="image-container" >
	<app-img class="weui-media-box__thumb" [src]="image" ></app-img>
</div>
<h3 class="product-name big-font" >{{ name }}</h3>
<p *ngIf="description!=''" class="product-description small-font " >{{ description }}</p>
<div *ngIf="price >= 0" class="product-price big-font" >￥{{ price }}</div>
<div *ngIf="num > 0" class="product-num small-font" >x {{ num }}</div>
<div *ngIf="others&&others.length>0" class="product-others" >
	<div class="others-container" *ngIf="othersIsShow" >
		<div class="others-item" *ngFor="let p of others; let i = index;" >
			<span class="other-name small-font nowrap-field nowrap-field" >{{p.name}}</span>
			<span class="other-description small-font nowrap-field" >{{p.description}}，可{{p.numPerson}}人分享</span>
			<span class="other-price small-font nowrap-field" >￥{{p.price}}</span>
			<div class="other-num small-font nowrap-field" *ngIf="type==2" >x {{p.num||0}}</div>
			<div class="other-num small-font nowrap-field" *ngIf="type==1" >
				<weui-stepper [(ngModel)]="p.num" [min]="0" [step]="1"  (change)="waterItemsChange($event, i)" ></weui-stepper>
			</div>
		</div>
	</div>
</div>